<!DOCTYPE html>

<html lang="en">
    <head>
        <title>vamp(ire)!</title>
        <meta charset="utf-8" />
        <meta name="description" content="A simple vampire fighting game built to demonstrate basic front-end development techniques using HTML, CSS, and Javascript on a Node server." />
    </head>

    <body class="end-game">
        <h1>vamp(ire)!</h1>

        <div class="results">
            <h2>Carmilla has vanquished Ruthven!</h2>

            <div class="vampire carmilla winner">
                <span>Carmilla</span>
            </div>

            <div class="vampire ruthven loser">
                <span>Ruthven</span>
            </div>
        </div>

        <a href="/" class="button">Back to Home</a>
    </body>
</html>