<!DOCTYPE html>

<html lang="en">
    <head>
        <title>vamp(ire)!</title>
        <meta charset="utf-8" />
        <meta name="description" content="A simple vampire fighting game built to demonstrate basic front-end development techniques using HTML, CSS, and Javascript on a Node server." />
    </head>

    <body>
        <h1>vamp(ire)!</h1>
    </body>
</html>